.card {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  flex-basis: 50%;
}

.inputGroup {
  position: relative;
}

.inputGroup input,
.customAlias {
  width: 100%;
}

.inputGroup button {
  position: absolute;
  right: 0;
}

.moreOptions {
  color: inherit;
  border: none;
  background-color: transparent;
	outline: inherit;
  cursor: pointer;
}